{! This template includes base.tmpl, and overrides the content block defined inside of it. !}
{>base/}
{<content}
 
    <section class="x-content">

        {content.aboutTitle}
        {content.aboutCopy}

    </section>
 
{/content}
